/* layout.css */
@import url("layouts/1200px.css");
@import url("layouts/960px.css");
@import url("layouts/720px.css");
@import url("layouts/480px.css");
@import url("layouts/240px.css");

.layout{
    display:block;
    margin:0 auto;
}
.row{
    width:100%;
    display:inline-block;
}
.column{
    display:inline;
    float:left;
}