/* 1200px.css */

.layout{
    width:1200px;
}
.column{
    margin:0 10px;
}
.one-column .column{
    width:1160px; /* 1200px */
}
.two-column .column{
    width:560px; /* 600px */
}
.three-column .column{
    width:360px; /* 400px */
}
.four-column .column{
    width:260px; /* 300px */
}
.five-column .column{
    width:200px; /* 240px */
}
.six-column .column{
    width:160px; /* 200px */
}
.eight-column .column{
    width:110px; /* 150px */
}
.ten-column .column{
    width:80px; /* 120px */
}
.twelve-column .column{
    width:60px; /* 100px */
}
.fifteen-column .column{
    width:40px; /* 80px */
}
.sixteen-column .column{
    width:35px; /* 75px */
}