/* 1200px.css */
@media (min-width:1200px) {
.layout{
    width:1200px;
}
.column{
    margin:0 10px;
}
.one-column .column{
    width:1180px; /* 1200px */
}
.two-column .column{
    width:580px; /* 600px */
}
.three-column .column{
    width:380px; /* 400px */
}
.four-column .column{
    width:280px; /* 300px */
}
.five-column .column{
    width:220px; /* 240px */
}
.six-column .column{
    width:180px; /* 200px */
}
.eight-column .column{
    width:130px; /* 150px */
}
.ten-column .column{
    width:100px; /* 120px */
}
.twelve-column .column{
    width:80px; /* 100px */
}
.fifteen-column .column{
    width:60px; /* 80px */
}
.sixteen-column .column{
    width:55px; /* 75px */
}
}